@use '/styles/variables' as *;

.navLogo {
  position: fixed;
  z-index: 5;
  animation: fadeIn 0.5s;

  @include from(xl) {
    margin: 3rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}