@use '/styles/variables' as *;

$backtitle-dist: -4em;
$backtitle-hover-dist: -3.6em;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project {
  display: block;
  background-color: $gray;
  position: relative; 
  overflow: hidden;
  text-decoration: none !important;
  transition: all .15s ease-out !important;

  &:hover, &:focus {
    box-shadow: none !important;
    filter: brightness(1.1);
    width: 100%;

    .backTitle {
      opacity: 1;
      left: $backtitle-hover-dist;
    }
    
    .img {
      top: -1rem;

      @include to(lg) {
        top: 3rem;
      }
    }
  }
}

.right {
  text-align: right;

  .backTitle {
    right: $backtitle-dist;
  }

  .img {
    right: auto;
    left: -5rem;
  }

  &:hover, &:focus {
    .backTitle {
      left: auto;
      right: $backtitle-hover-dist;
    }
  }

  .title, .desc {
    margin-left: auto;
  }
}

.black {
  color: $black;
}

.content {
  position: relative;
  padding: 4rem !important;
}

.backTitle {
  font-size: 5rem;
  opacity: 0.4;
  left: $backtitle-dist;
  color: $dark-gray;
  transition: all .15s ease-out;

  @include from(md) {
    font-size: 7rem;
  }
  
  @include from(xl) {
    font-size: 9rem;
  }
}

.img {
  position: absolute;
  top: 2rem;
  right: -5rem;
  transition: all .15s ease-out;

  @include to(lg) {
    top: 5rem;
    width: 256px;
    height: 256px;
  }
}

.title, .desc {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 3rem;

  @include from(md) {
    font-size: 5rem;
  }
}

.desc {
  max-width: 75%;
  font-size: 1.2rem;

  @include from(md) {
    font-size: 2rem;
  }
}