@use '/styles/variables' as *;

.skills {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: $black-font;
  color: $accent;

  &:before, .caret {
    color: $muted;
  }

  &:before {
    content: ">";
    margin-right: 1rem;
  }

  @include from(md) {
    font-size: 2.5rem;
  }
}