@use '/styles/variables' as *;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;

  @include from(sm) {
    max-width: 540px;
  }
  @include from(md) {
    max-width: 720px;
  }
  @include from(lg) {
    max-width: 960px;
  }
  @include from(xl) {
    max-width: 1140px;
  }
}