@use '/styles/variables' as *;

.jumbotron {
  padding: 3rem 0;
  background-color: $dark-gray;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;

  h2 {
    line-height: normal;
    color: $muted;
    margin-top: 3rem;
  }

  @include from(md) {
    padding: 4rem 0;
  }
  @include from(xl) {
    padding: 6rem 0;
  }
}

.container {
  position: relative;
  z-index: 2;

  @include from(md) {
    padding-right: 10%;
  }
}

.title {
  font-family: $black-font;
  font-size: 2rem;
  line-height: normal;

  @include from(md) {
    font-size: 3rem;
  }
  @include from(xl) {
    font-size: 4rem;
  }
}

.date {
  color: $dark-accent;
}

.topic {
  color: $muted;
  text-decoration: none;
  transition: color .15s ease-out;

  &:hover {
    color: $accent;
  }
}

.backLeft {
  writing-mode: vertical-lr;
  position: absolute;
  color: $black;
  font-family: $black-font;
  font-size: 5rem;
  bottom: -0.1em;
  left: 0;
  user-select: none;
  transform: rotate(-180deg);

  .bold {
    font-weight: 700;
  }

  @include from(md) {
    font-size: 6rem;
  }
  @include from(xl) {
    font-size: 9rem;
  }
}