@use '/styles/variables' as *;

.section {
  width: 100%;
  background-color: $dark-gray;
  min-height: 20rem;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;

  &.black {
    background-color: $black;
  }
}

.container {
  position: relative;
  z-index: 2;
}