@use '/styles/variables' as *;

.backTitle {
  position: absolute;
  top: -0.55em;
  left: -0.3em;
  font-family: $black-font;
  font-size: 6rem;
  font-weight: 100;
  color: $black;
  user-select: none;
  
  .bold {
    font-weight: 700;
  }

  &.right {
    color: $dark-gray;
    right: -0.3em;
    left: auto;
  }
  
  @include from(md) {
    font-size: 8rem;
  }
  
  @include from(xl) {
    font-size: 12rem;
  }
}

.backTitleFade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}