@use "sass:map";

$text: #ddd;
$muted: #777d7a;
$light-gray: #565a58;
$gray: #414643;
$dark-gray: #151615;
$black: #000;
$accent: #4de0af;
$dark-accent: #2eb185;
$link: #127ed6;
$font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
$black-font: 'Montserrat', $font;
$serif-font: 'Merriweather', $font;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);

@mixin from($name) {
  @media (min-width: map.get($breakpoints, $name)) {
    @content;
  }
}

@mixin to($name) {
  @media (max-width: map.get($breakpoints, $name)) {
    @content;
  }
}