$text: #ddd;
$muted: rgb(119, 125, 122);
$light-gray: rgb(86, 90, 88);
$gray: rgb(65, 70, 67);
$dark-gray: rgb(26, 29, 27);
$black: #000;
$accent: #4de0af;
$link: #127ed6;
$font: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;