@use './variables' as *;
@use './fonts';

* {
  box-sizing: border-box;
  color-scheme: dark;
}

html {
  margin: 0;
  background-color: #000;
}

body {
  color: $text;
  background-color: #000;
  font-family: $font;
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;

  @include from(md) {
    font-size: 1.1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $black-font;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;

  @include from(md) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include from(md) {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.2rem;

  @include from(md) {
    font-size: 2rem;
  }
}

p {
  font-size: 15px;
  margin-top: 1rem;

  @include from(md) {
    font-size: 20px;
  }
}

i {
  color: $accent;
  font-style: normal;
}

a {
  color: $link;
}

.content a {
  color: $text;
  text-decoration: underline;
  text-decoration-color: $link;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
  box-shadow: inset 0 -2px 0 -1px $link;
  transition: all .15s ease-out;
  
  &:hover {
    color: $black;
    box-shadow: inset 0 -1.4em 0 -1px $link;
  }
}

s {
  text-decoration-thickness: 2px;
}