@use './variables' as *;

.canvas {
  width: 100vw;
  height: 100vh;
  min-height: 35rem;
  max-height: 45rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}

.wrapper {
  width: 100%;
}

.jumbotron {
  display: flex;
  height: 100vh;
  min-height: 35rem;
  max-height: 45rem;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  *:not(.container) {
    z-index: 1;
  }
}

.contact {
  color: $text;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 0.9rem;
  transition: all .15s;

  &:hover, &:focus {
    color: $accent;
  }

  @media (min-width: $md) {
    font-size: 1.5rem;
  }
}

.icon {
  font-size: 2.5rem;

  @media (min-width: $md) {
    font-size: 2.8rem;
  }
}

.email {
  color: $muted;
}

.comingSoon {
  padding: 5rem 0;
  font-size: 2rem;
  font-family: $serif-font;
  text-align: center;

  @media (min-width: $lg) {
    font-size: 4rem;
  }
}